#firstPage{
    background: linear-gradient(180deg, #FFFFFF 7%, rgb(237, 237, 237) 93.75%, #FFFFFF 100%) !important;
    height: 95vh;
}


#title {
    text-align: center;
    padding-left: 20%;
    margin: 0px;
}

#rightnav{
    padding-right: 10%;
}

.rb{
    text-align: center;
    margin: 0px;
    border-radius: 31.6721px;    
}


li > a:hover{ 
    color:#6E52BB !important;
}

.phrase{
    margin: 5px;
    padding: 0px;
    letter-spacing: 2px;
}

.phrase_2{
    margin: 3px;
    padding: 0px;
    letter-spacing: 2px;
    color: rgb(175, 177, 179);
}

#imageDiv{
    padding-top: 70px;
    width: 100%;
    height: 100%;
}

.items{
    object-position: 0px 10px;
    width: 20%;
}

.vertical-center {
    vertical-align: middle;
}

.network{
    max-width: 50% !important;
    height: auto !important;
    padding: 100px;
}
